<h1>New Patients Page</h1>

<%= form_for @user do |f| %>
  <%= f.label :first_name %>
  <%= f.text_field :first_name, required: true, autofocus: true, placeholder: "First Name" %>
  <br />
  <%= f.label :last_name %>
  <%= f.text_field :last_name, required: true, autofocus: true, placeholder: "Last Name" %>

  <%= f.submit nil, class: "ui blue button inverted" %>
<% end %>